

body,
p,
h1,
h2,
h3,
ul,
li,
footer,
.background,
.clipboard-logo-first,
.clipboard-logo-last,
.combine,
.first-div,
.first-monitor,
.icons,
.ios-button,
.logos,
.mac-button,
.mini-p,
.minor-p,
.second-div,
.second-monitor,
.socials,
.text-div,
.text-div-minor,
.third-div,
.third-div-minor {

  margin: 0;
  font-family: Arial;
  padding: 0; 
}





.background {
  background-image: url(./bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.combine {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  /*width: 70%;*/
}

.clipboard-logo-first {
  height: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 1.3rem;
  padding-bottom: 10px;
}
p {
  font-size: 0.7rem;
  max-width: 330px;
  line-height: 1rem;
  padding-bottom: 20px;
  text-align: center;
  color: gray;
}
.ios-button {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.5rem;
  border: none;
  background-color: rgb(38, 172, 127);
  color: white;
  margin-right: 5px;
  box-shadow: 2px 4px 10px rgba(38, 172, 127, 0.5);
}

.mac-button {
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 0.5rem;
  border: none;
  background-color: rgb(80, 38, 172);
  color: white;
  box-shadow: 2px 4px 10px rgba(80, 38, 172, 0.5);
}

.ios-button,
.mac-button:hover {
  cursor: pointer;
}
.ios-button:active {
  opacity: 0.4;
}
.mac-button:active {
  opacity: 0.4;
}


h2 {
  font-size: 15px;
  padding-bottom: 10px;
}

.major-p {
  font-size: 0.65rem;
}

.mini-p {
  font-size: 0.65rem;
  line-height: 0.8rem;
}

.second-div {
  display: flex;
  margin-bottom: 60px;
}

.first-monitor {
  content: url(./image-computer.png);
  height: 260px;
}

.text-div {
  margin-left: 30px;
  
}

.text-div-p {
  text-align: justify;
  font-size: 0.6rem;
  line-height: 0.8rem;
  max-width: 170px;
  padding-top: 7px;
}

.text-div-minor {
  margin-top: 20px;
}

h3 {
  font-size: 0.8rem;
}

.minor-p {
  font-size: 0.65rem;
  line-height: 0.8rem;
  max-width: 180px;
  padding-bottom: 20px;
}

.second-monitor {
  content: url(./image-devices.png);
  height: 260px;
}

.third-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.third-div-minor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

h4 {
  font-size: 0.7rem;
  text-align: center;
}

.icons {
  height: 15px;
  margin-bottom: 10px;
}

.logos {
  height: 20px;
  margin-right: 40px;
}

.last-div {
  display: flex;
  background-color: rgb(211, 211, 211);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 8px;
}

.clipboard-logo-last {
  height: 20px;
  align-items: start;
  padding-left: 40px;
}

ul {
  list-style: none;
  display: flex;
  font-size: 0.7rem;
  color: rgb(104, 104, 104);
}
li {
  line-height: 1.5rem;
  margin-right: 25px;
}

.socials-div {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-right: 40px;
}

.socials {
  height: 10px;
  margin-right: 10px;
}


@media (orientation: portrait) {

  .background {
    background-image: url(./bg-header-mobile.png);
  }
  .combine {
    width: 70%;
  }
  
  .clipboard-logo-first {
    height: 50px;
  }
  
  h1 {
    max-width: 190px;
    text-align: center;
  }
  p {
    max-width: 190px;
  }
  .ios-button {
    display: block;
    padding: 12px 50px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .mac-button {
    display: block;
    padding: 12px 50px;
    font-size: 0.8rem;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  
  h2 { 
    max-width: 190px;
    text-align: center;
  }
  
  .major-p {
    font-size: 0.7rem;
    max-width: 170px;
    padding-bottom: 20px;
  }
  
  .mini-p {
    font-size: 0.5rem;
    line-height: 0.8rem;
    padding-bottom: 20px;
  }
  
  .second-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  
  .first-monitor {
    content: url(./image-computer.png);
    height: 170px;
  }
  
  .text-div {
    margin-left: 0px;
  }
  
  .text-div-p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    max-width: 200px;
    padding-bottom: 20px;
  }
  
  h3 {
    text-align: center;
  }
  
  .minor-p {
    max-width: 170px;
    padding-bottom: 20px;
  }
  
  .second-monitor {
    content: url(./image-devices.png);
    height: 170px;
  }
  
  .third-div {
    display: flex;
    flex-direction: column;
  }
  
  .third-div-minor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  
  .logos {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  
  .last-div {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .clipboard-logo-last {
    height: 20px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  ul {
    flex-direction: column;
  }
  li {
    line-height: 1.25rem;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .socials-div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  
  .socials {
    height: 10px;
    margin-right: 10px;
  }

}